<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 m-2 card bg-dark text-white card-header animated fadeInDownBig">
            <form autocomplete="false" [formGroup]="form" (ngSubmit)="save()">
                <div class="form-group">
                    <h3>Consulta privada</h3>
                </div>
                <div class="form-group">
                    <label for="teacher">Profesor a consultar</label>
                    <select class="form-control" id="teacher" formControlName="teacher" [class.is-invalid]="teacherValid">
                        <option value="-1">Seleccione un Profesor</option>
                        <ng-template ngFor let-item [ngForOf]="teachers" let-i="index">
                            <option *ngIf="teachers[i].password == 'Teacher'" [(value)]="teachers[i].usersId" selected>{{teachers[i].name}}</option>
                        </ng-template>
                    </select>
                    <small *ngIf="teacherValid" class="text-danger">Seleccione un profesor</small>
                </div>
                <div class="form-group">
                    <label for="content">Mensaje</label>
                    <textarea class="form-control" id="content" rows="3" formControlName="content"></textarea>
                    <span *ngIf="contentValid" class="text-danger">Ingrese mensaje válido</span>
                </div>
                <button class="btn btn-outline-light  btn-lg btn-block">Enviar</button>
            </form>
        </div>

        <div class="col-12 m-2 animated fadeInUpBig">
            <h3> Historial de consultas</h3>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Profesor</th>
                        <th scope="col">Mensaje</th>
                        <th scope="col">Respuesta</th>
                    </tr>
                </thead>
                <tbody *ngFor="let inquiry of inquiries">
                    <tr *ngIf="inquiry.creationusersid == userId">
                        <th scope="row">{{inquiry.inquiryId}}</th>

                        <ng-template ngFor let-item [ngForOf]="teachers" let-i="index">
                            <td *ngIf="teachers[i].usersId == inquiry.teacherid ">{{ teachers[i].name}}</td>
                        </ng-template>

                        <td>{{ inquiry.content}}</td>

                        <ng-template ngFor let-item [ngForOf]="inquiriesResponse" let-i="index">
                            <td *ngIf="inquiriesResponse[i].inquiryid == inquiry.inquiryId ">{{ inquiriesResponse[i].content}}</td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>